#hero{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    mix-blend-mode: overlay;
    margin: auto;
}

.primerdiv{
    padding-top: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:60%;
    margin:auto;
    position:relative;
    z-index: 2;
    text-align: center;
    color: rgba(246, 211, 167, 0.687);
    border-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.boton{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.119);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0px;
    font-size: 15px;
    margin-top: 150px;
}

.texto{
    color: rgb(227, 203, 173);
}

p{
    color: rgb(246, 211, 167);
    margin-top: 9px;
}