.primerafoto{
  height: 400px;
  width: 70%;
  margin: auto;
  margin-left: 190px;
  position: absolute;
  color: antiquewhite;
}

.enunciadof{
  margin-left: 880px;
  margin-top: 240px;
  position: absolute;
  color: rgba(252, 252, 0, 0.874);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.textof1{
  color: antiquewhite;
  margin-left: 500px;
  margin-top: 263px;
  position: absolute;
  width: 500px;
}
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}