.fondo{
  width: 100%;
  height: auto;
  
}
body{
  background-image: url(../img/fotoferrari/logo-ferrari.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%; 
}

.primerafoto{
  height: 400px;
  width: 70%;
  margin: auto;
  margin-left: 190px;
  position: absolute;
  color: white;
}

.enunciadof{
  margin-left: 880px;
  margin-top: 240px;
  position: absolute;
  color: rgba(252, 252, 0, 0.874);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.textof1{
  color: white;
  margin-left: 500px;
  margin-top: 263px;
  position: absolute;
  width: 500px;
}
*{
  margin: 0;
  padding: 0;
}



.segundafoto{
  height: 400px;
  width: 70%;
  margin: auto;
  margin-left: 190px;
  position: absolute;
  margin-top: 500px;
  color: white;
}
.imagenf2{
  position: absolute;
  height: 100px;
  margin-top: 530px;
  margin-left: 200px;
}
.textof2{
  height: auto;
  width: 50%;
  margin: auto;
  margin-left: 220px;
  position: absolute;
  margin-top: 528px;
  color: white;
}

.textof2 {
  color: rgba(220, 220, 220, 0.71);
  transition: color 1s ease-in-out;
}

.textof2:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.textof1{
  color: rgba(220, 220, 220, 0.71);
  transition: color 1s ease-in-out;
}
.textof1:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
