.fondo{
  width: 100%;
  height: auto;
  
}
body{
  background-image: url(../img/fotoferrari/logo-ferrari.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%; 
}

.primerafoto{
  height: 65%;
  width: 70%;
  margin: auto;
  margin-left: 15%;
  position: absolute;
  color: white;
  margin-top: 2%;
}

.enunciadof{
  color: rgb(255, 247, 0);
  margin-left: 17%;
  margin-top: 4%;
  position: absolute;
  width: 47%;
  font-size: 27px;
  font-family: 'Times New Roman', Times, serif;
}

.textof1{
  color: white;
  margin-left: 17%;
  margin-top: 12%;
  position: absolute;
  width: 47%;
  font-size: 27px;
}
*{
  margin: 0;
  padding: 0;
}



.segundafoto{
  height: 65%;
  width: 70%;
  margin: auto;
  margin-left: 15%;
  position: absolute;
  color: white;
  margin-top: 43%;
}
.imagenf2{
  position: absolute;
  height: 20%;
  margin-top: 530px;
  margin-left: 200px;
}
.textof2{
  color: white;
  margin-left: 17%;
  margin-top: 43%;
  position: absolute;
  width: 47%;
  font-size: 27px;
}

.tercerafoto{
  height: 65%;
  width: 70%;
  margin: auto;
  margin-left: 15%;
  position: absolute;
  color: white;
  margin-top: 84%;
}

.imagenf3{
  position: absolute;
  height: 100px;
  margin-top: 1070px;
  margin-left: 200px;
}











.textof2 {
  color: rgba(220, 220, 220, 0.71);
  transition: color 1s ease-in-out;
}

.textof2:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.textof1{
  color: rgba(220, 220, 220, 0.71);
  transition: color 1s ease-in-out;
}
.textof1:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}